body {
	font-family: 'PT Sans', sans-serif;
	color: #000;
	overflow-x: hidden;
	background-color: #fff;
	font-size: 15px;
	background-color: #0099ff;
}

a {
	transition: all 0.5s ease;
}

a,
a:hover,
a:active,
a:focus {
	outline: none;
}

.container-flfuid {
	padding: 0;
}

.banner img {
	width: 100%;
}

.balance {
	width: 187px;
	height: 188px;
	background: url('../images/bg-circle.png') no-repeat left top;
	text-align: center;
	margin: -82px auto 0;
	position: relative;
	z-index: 1000;
}

.balance p {
	padding-top: 30px;
	text-transform: uppercase;
	color: #000;
}

.balance h3 {
	font-size: 40px;
	color: #0099ff;
	padding-top: 10px;
	font-weight: 700;
}

.balance h3 sup {
	font-size: 15px;
	font-weight: normal;
	position: relative;
	top: -15px; 
	left: -5px;
}

ul.select-sec {
	background: url('../images/bg-selectdeals.jpg') no-repeat left center;
	min-height: 70px;
	padding-top: 20px;
	padding-left: 11px;
	width: 96%;
	margin: 0 auto;
}

ul.select-sec li {
	min-height: 34px;
	line-height: 34px;	
	margin-right: 10px;
	font-size: 16px;
	color: #fff;
}

ul.select-sec li input {
	display: inline-block;
	margin-right: 5px;
}

ul.select-sec li.select-deals {
	background: #fff url('../images/right-arrow.jpg') no-repeat right top;
	padding-right: 20px;
	padding-left: 10px;
	color: #444f9d;
	font-weight: 700;
	border: 0;
}

.patch {
	background: url('../images/patch.png') no-repeat left top;
	position: absolute;
	left: -40px;
    top: -20px;
    width: 65px;
    height: 196px;
}

.content-sec {
	background: #fff;
	border-radius: 20px;
	padding: 20px;
	padding-bottom: 15px;
	box-shadow: 0 0 15px #636363;
	margin: 0 auto 75px;
	width: 94%;
	position: relative;
}

.left-sec ul {
	margin: 10px 0 0;
	padding: 0;
	background-color: #ccc;
	border-radius: 0 20px 20px 0;
	position: relative;
	left: -35px;
}

.left-sec ul li {
	padding: 10px 10px;
	font-size: 17px;
}

.left-sec ul li.time {
	color: #e30613;
	font-weight: bold;
}

.left-sec ul li.divider {
	background: url('../images/divider.jpg') no-repeat right center;
}

.right-sec ul.topul li {
	padding: 0 2px;
	margin: 0;
	font-size: 16px;
}

.right-sec ul.topul {
	margin-bottom: 25px;
	margin-left: 25px;
}

ul.topul li.peoples {
	color: #444f9d;
	font-weight: 700;
}

.right-sec a.btn {
	border-radius: 0;
	background-color: #505bb0;
	display: block;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	margin-top: 35px;
}

/*.right-sec a.btn:hover {
	background-color: #0099ff;
}*/

.gift-voucher {
	position: relative;
	text-transform: uppercase;
}

.gift-voucher span {
	text-align: center;
	display: block;
	position: relative;
	top: 132px;
	font-weight: 700;
	font-size: 16px;
	text-align: center;
	color: #fff;
}

ul.price-list {
	text-align: center;
	border: 2px dashed #ccc;
}

ul.price-list li {
	font-size: 20px;
	width: 49%;
	padding: 10px 0;
}

ul.price-list li span {
	display: block;
	text-align: center;
}

ul.price-list li.brd-right {
	background: url('../images/brd-right.jpg') no-repeat right center;
}

ul.price-list li span.txt-voucher {
	font-size: 14px;
	color: #969696;
}

ul.price-list li span.txt-price1 {
	font-size: 30px;
	font-weight: 700;
	color: #969696;

}

sup {
	top: 0;
}

ul.price-list li span.txt-price1 sup {
	font-size: 15px;
	font-weight: normal;
	position: relative;
	left: -5px;
	top: -10px;
}

ul.price-list li span {
	display: block;
}

ul.price-list li.buyfor span {
	color: #000;
	position: relative;
	top: 10px;
}

ul.price-list li.buyfor span.txt-voucher2 {
	font-size: 12px;
	margin-bottom: -10px;
}

ul.price-list li.buyfor span.txt-price2 {
	font-size: 50px;
	font-weight: 700;
}

ul.price-list li.buyfor span.txt-price2 sub {
    position: absolute;
    right: -20px;
    top: 0;
    line-height: 4;
    font-size: 20px;
    font-weight: normal;
    color: #333;
}

ul.price-list li.buyfor span.txt-price2 sup {
	font-size: 20px;
	position: relative;
	top: -10px;
	left: -5px;
}

.fireworks {
    position: absolute;
    left: 28%;
    bottom: -8px;
    z-index: 1;
    opacity: 0.5;
}

.fireworks2 {
	position: absolute;
    left: -50px;
    top: 45%;
}

.fireworks3 {
	position: absolute;
    left: 70%;
    top: -50px;
}

.fireworks4 {
	position: absolute;
    left: -80px;
    top: 20px;
}

.fireworks5 {
	position: absolute;
    right: -50px;
    top: -50px;
    opacity: 0.5;    
}

.fireworks6 {
	position: absolute;
    bottom: -50px;
    left: -50px;
    opacity: 0.5;
}

.row {
	position: relative;
}

@media only screen and (max-width: 600px) {
	.left-sec ul li {
	    padding: 10px 7px;
	    font-size: 15px;
	}

	ul.price-list li.buyfor span.txt-price2 sub {
		right: -40px;
	}

	ul.select-sec li {
		margin-right: 0;
	}
}

@media only screen and (max-width: 550px) {
	.content-sec .col-xs-6 {
		width: 100%;
		float: none;
		margin-bottom: 25px;
	}

	.right-sec ul.topul {
		margin-left: 0;
	}

	ul.price-list li.buyfor span.txt-price2 {
		width: 150px;
		margin: 0 auto;
	}

	ul.select-sec li.select-deals {
		display: block;
	}

	.fireworks {
		left: 20%;
	}
}

@media only screen and (max-width: 450px) {
	.fireworks {
		left: 12%;
	}

}

@media only screen and (max-width: 350px) {
	.fireworks {
		left: 6%;
	}

	ul.price-list li.buyfor span.txt-price2 sub {
		right: -20px;
	}
}

@media only screen and (max-width: 300px) {
	.fireworks {
		left: 0%;
	}

	ul.price-list li.buyfor span.txt-price2 sub {
		right: -10px;
	}	
}